html {
	min-height: 100%;
    background: rgb(149, 71, 238);
    background: linear-gradient(
		38deg,
        rgba(149, 71, 238, 1) 0%,
        rgba(176, 80, 199, 1) 21%,
        rgba(212, 93, 146, 1) 56%,
        rgba(232, 134, 127, 1) 82%,
        rgba(255, 183, 105, 1) 100%);
}

body {
	font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
}

a {
	color: #fff36f;
	text-decoration: none;
}

h1 {
	color: #d2acfd;
	text-align: center;
	font-family: 'Sansita Swashed', cursive;
	font-size: 5.5em;
	text-shadow: .05em .05em 0 #2821d6, 0 0 5px #1b08f7; 
}

h2 {
	color: #d2acfd;
	text-align: center;
	font-family: 'Sansita Swashed', cursive;
	font-size: 2em;
	text-shadow: .05em .05em 0 #2821d6; 
}

h3 {
	text-align: center;
	font-family: 'Sansita Swashed', cursive;
}

p {
	text-align: center;
}

.container {
    display: flex;
    justify-content: center;
	flex-flow: column;
	margin-top: 5em;
	text-align: center;
}

.message {
	color: #fff36f;
	font-style: italic;
	margin: 0 auto;
	width: 30%;
}

.buttons {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-aligh: center;
}

a.button {
	background-color: #8a1f68;
	background-image: linear-gradient(#8a1f6866, #c73c9b66);
	margin-bottom: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 20px;
	width: 30%;
	border: 2px solid #8a1f68CC;
	cursor: pointer;
	box-shadow: 5px 10px 18px -2px #170c2433;
	
	text-align: center;
	font-size: 1.2em;
	color: #fff36f;
}

a.button:hover {
	background: linear-gradient(#8a1f68F2, #c73c9bF2);
	transition: 0.3s;
}

.recipe {
	margin: auto;
	width: 50%;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}

.description {
	text-align: left;
	padding: 0.5em;
	margin: 0.5em;
	background-color: #ffcc72;
	color: #8a1f68;
	flex: 1 1 150px;
	border-radius: 25px;
	box-shadow: 0.5em 0.5em 0 0 #e99e1a;
}

.how-to {
	background-color: #8a1f68;
	color: #ffcc72;
	box-shadow: 0.5em 0.5em 0 0 #380227;
}

.vibing-cat {
	position: absolute;
	bottom: 0;
	left: 0;
}

.dancing-cat {
	position: absolute;
	top: 10px;
	right: 0;
}

.dancing-dog {
	position: absolute;
	top: 10px;
	right: 0;
	width: 10em;
}

.dancing-doge {
	bottom: 0;
	left: 0;
	width: 7em;
}

.cake {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
	width: 9em;
}

ul {
	list-style-image: url('res/star.png');
}

/* Confetti animation, thanks to @pajasevi */
.confettis {
	color: #ff63f9;
	font-size: 2em;
	font-family: Arial, sans-serif;
 }

@-webkit-keyframes snowflakes-fall {
	0% {top: -10%}
	100% {top: 100%}
}

@-webkit-keyframes snowflakes-shake{
	0%,
	100%	{-webkit-transform: translateX(0);
			transform: translateX(0)
			}
	50%		{-webkit-transform: translateX(80px);
			transform: translateX(80px)}
}

@keyframes snowflakes-fall{
	0%		{top: -10%}
	100%	{top: 100%}
}

@keyframes snowflakes-shake{
	0%,
	100%	{transform: translateX(0)}
	50%		{transform: translateX(80px)}
}
	
.confetti {
	position: fixed;
	top:-10%;
	z-index: 9999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	-webkit-animation-name: snowflakes-fall, snowflakes-shake;
	-webkit-animation-duration: 10s,3s;
	-webkit-animation-timing-function: linear,ease-in-out;
	-webkit-animation-iteration-count: infinite, infinite;
	-webkit-animation-play-state: running,running;
	animation-name: snowflakes-fall, snowflakes-shake;
	animation-duration: 10s,3s;
	animation-timing-function: linear,ease-in-out;
	animation-iteration-count: infinite, infinite;
	animation-play-state:running,running;
}
	
.confetti:nth-of-type(0) {
	left: 1%;
	-webkit-animation-delay: 0s,0s;
	animation-delay: 0s,0s;
	color: #f04040;
}
	
.confetti:nth-of-type(1) {
	left: 10%;
	-webkit-animation-delay: 1s,1s;
	animation-delay: 1s,1s;
	color: #f040b0;
}

.confetti:nth-of-type(2) {
	left: 20%;
	-webkit-animation-delay: 6s,.5s;
	animation-delay: 6s,.5s;
	color: #f7b3de;
}

.confetti:nth-of-type(3) {
	left: 30%;
	-webkit-animation-delay: 4s, 2s;
	animation-delay: 4s,2s;
	color: #9824da;
}

.confetti:nth-of-type(4) {
	left: 40%;
	-webkit-animation-delay: 2s, 2s;
	animation-delay: 2s, 2s;
	color: #57099e;
}

.confetti:nth-of-type(5) {
	left: 50%;
	-webkit-animation-delay: 8s, 3s;
	animation-delay: 8s, 3s;
	color: #1911d6;
}

.confetti:nth-of-type(6) {
	left: 60%;
	-webkit-animation-delay: 6s, 2s;
	animation-delay: 6s, 2s;
	color: #2a80ff;
}

.confetti:nth-of-type(7) {
	left: 70%;
	-webkit-animation-delay: 2.5s, 1s;
	animation-delay: 2.5s, 1s;
	color: #5fd9ff;
}
	
.confetti:nth-of-type(8) {
	left: 80%;
	-webkit-animation-delay: 1s, 0s;
	animation-delay: 1s, 0s;
	color: #5fffa6;
}

.confetti:nth-of-type(9) {
	left: 90%;
	-webkit-animation-delay: 3s,1.5s;
	animation-delay: 3s,1.5s;
	color: #01dd0a;
}

.confetti:nth-of-type(10) {
	left: 25%;
	-webkit-animation-delay: 2s,0s;
	animation-delay: 2s,0s;
	color: #ffee29;
}

.confetti:nth-of-type(11) {
	left: 65%;
	-webkit-animation-delay: 4s,2.5s;
	animation-delay: 4s,2.5s;
	color: #ff9029;
}

.credits {
	font-size: 0.8em;
	position: fixed;
	bottom: 1%;
	right: 2%;
}

@media only screen and (max-width: 440px) {

   h1 { 
      font-size: 3.5em; 
   }
   
   .cake-title {
		margin-top: 1.3em;
	}
   
   .container {
	   margin-top: 1em;
   }
   
   .message {
		margin-top: -0.3em;
		width: 65%;
	}
   
   a.button {
	   width: 65%;
   }
   
   .recipe {
	width: 70%;
}
   
   .dancing-cat {
	   margin-top: 1em;
	   z-index: 9998;
	   height: 6em;
   }
   
   .dancing-dog {
	   z-index: 9998;
	   height: 6em;
	   width: auto;
   }
      
   .credits {
	   font-size: 0.3em;
	   bottom: 1em;
	   right: 1em;
   }

}

@media only screen and (max-height: 670px) {
	.vibing-cat {
	   height: 5.5em;
	}
}